/*11\7\19 this is some animation stuff*/
.p  {
   width: 150px;
   height: 100px;
   background: #add8e6;
   transition: width 3s,height 3s, transform 3s;
}

p:hover {
   width: 250px;
   height:200px;
   transform:rotate(360deg);
}
